In [ ]:
#Import The Libraries
import datetime
import numpy as np
import pandas as pd
import sklearn

In [5]:
#!pip install yfinance
import yfinance as yf

In [7]:
#define the ticker symbol
tickerSymbol = 'KPITTECH.NS'

#get data on this ticker
tickerData = yf.Ticker(tickerSymbol)

In [11]:
#get the historical prices for this ticker
tickerDf = tickerData.history(period='1d', start='2022-1-1', end='2024-1-25')

In [12]:
#see your data
tickerDf

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2022-01-03 00:00:00+05:30,609.410411,624.249950,595.609627,601.644409,2048224,0.0,0.0
2022-01-04 00:00:00+05:30,603.870340,606.838248,585.271403,601.644409,1295393,0.0,0.0
2022-01-05 00:00:00+05:30,602.633714,602.633714,584.677847,587.843628,1052466,0.0,0.0
2022-01-06 00:00:00+05:30,592.592291,645.025332,588.486661,623.705872,4532927,0.0,0.0
2022-01-07 00:00:00+05:30,650.961172,741.977020,640.276715,703.641541,10670785,0.0,0.0
...,...,...,...,...,...,...,...
2024-01-17 00:00:00+05:30,1528.072158,1552.392370,1503.152829,1539.408325,699537,0.0,0.0
2024-01-18 00:00:00+05:30,1527.123312,1546.499525,1485.075009,1530.219482,535425,0.0,0.0
2024-01-19 00:00:00+05:30,1538.609180,1550.594451,1522.079445,1545.900269,451502,0.0,0.0
2024-01-23 00:00:00+05:30,1528.122124,1558.285009,1476.535494,1499.657104,1188474,0.0,0.0
2024-01-24 00:00:00+05:30,1499.657077,1512.591134,1483.327169,1504.700928,362720,0.0,0.0

In [14]:
#Get the number of rows and columns in the data
#see your data
tickerDf.shape

(510, 7)

In [15]:
tickerDf.index

DatetimeIndex(['2022-01-03 00:00:00+05:30', '2022-01-04 00:00:00+05:30',
               '2022-01-05 00:00:00+05:30', '2022-01-06 00:00:00+05:30',
               '2022-01-07 00:00:00+05:30', '2022-01-10 00:00:00+05:30',
               '2022-01-11 00:00:00+05:30', '2022-01-12 00:00:00+05:30',
               '2022-01-13 00:00:00+05:30', '2022-01-14 00:00:00+05:30',
               ...
               '2024-01-10 00:00:00+05:30', '2024-01-11 00:00:00+05:30',
               '2024-01-12 00:00:00+05:30', '2024-01-15 00:00:00+05:30',
               '2024-01-16 00:00:00+05:30', '2024-01-17 00:00:00+05:30',
               '2024-01-18 00:00:00+05:30', '2024-01-19 00:00:00+05:30',
               '2024-01-23 00:00:00+05:30', '2024-01-24 00:00:00+05:30'],
              dtype='datetime64[ns, Asia/Kolkata]', name='Date', length=510, freq=None)